In [58]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

Fase 1: Exploración y Limpieza
1.
Exploración Inicial:
Realiza una exploración inicial de los datos para identificarposibles problemas, como valores nulos, atípicos o datosfaltantes en las columnas relevantes.
Utiliza funciones de Pandas para obtener informaciónsobre la estructura de los datos, la presencia de valoresnulos y estadísticas básicas de las columnas involucradas.
Une los dos conjuntos de datos de la forma más eficiente.

In [59]:
df_CLH = pd.read_csv("Customer Loyalty History.csv", index_col=None)
df_CFA = pd.read_csv("Customer Flight Activity.csv", index_col=None)

In [60]:
# Función para exploración general de datos
def exploracion_datos(df):
    print('_____________ INFORMACIÓN GENERAL DEL DATAFRAME ____________\n')
    print(df.info())
    
    print('___________________ FORMA DEL DATAFRAME ____________________\n')
    print(f"El número de filas que tenemos es de {df.shape[0]}.\nEl número de columnas es de {df.shape[1]}\n")
    
    print('_______________ NULOS, ÚNICOS Y DUPLICADOS _________________\n')
    print('La cantidad de valores NULOS por columna es de:\n')
    print(df.isnull().sum())
    print('____________________________________________________________\n')

    print('El porcentaje de valores NULOS por columna es de:\n')
    porcentaje_nulos = (df.isnull().sum() / df.shape[0]) * 100
    porcentaje_nulos = porcentaje_nulos.round(2)
    print(porcentaje_nulos)
    print('____________________________________________________________\n')

    print('La cantidad de valores ÚNICOS por columna es de:\n')
    for columna in df.columns:
        cantidad_unicos = df[columna].nunique()
        print(f'La columna {columna} tiene {cantidad_unicos} valores únicos.')
    print('____________________________________________________________\n')

    print('La cantidad de valores DUPLICADOS por columna es de:\n')
    for columna in df.columns:
        cantidad_duplicados = df.duplicated(subset=columna).sum()
        print(f'La columna {columna} tiene {cantidad_duplicados} valores duplicados.')
    print('____________________________________________________________\n')
    
    print('____________________ RESUMEN ESTADÍSTICO ____________________\n')
    print('___________________ Variables Numéricas _____________________\n')
    if df.select_dtypes(include=[float, int]).empty:
        print("No hay variables numéricas para mostrar el resumen estadístico.")
    else:
        print(df.describe().T)
    print('____________________________________________________________\n')
    print('___________________ Variables Categóricas _____________________\n')
    if df.select_dtypes(include=[object]).empty:
        print("No hay variables categóricas para mostrar el resumen estadístico.")
    else:
        print('__________________ Variables Categóricas ____________________\n')
        print(df.describe(include='object').T)

In [61]:
# Llamamos a la función para explorar el dataframe df_CLH 
exploracion_datos(df_CLH)

_____________ INFORMACIÓN GENERAL DEL DATAFRAME ____________

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16737 entries, 0 to 16736
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Loyalty Number      16737 non-null  int64
 1   Country             16737 non-null  object
 2   Province            16737 non-null  object
 3   City                16737 non-null  object
 4   Postal Code         16737 non-null  object
 5   Gender              16737 non-null  object
 6   Education           16737 non-null  object
 7   Salary              12499 non-null  float64
 8   Marital Status      16737 non-null  object
 9   Loyalty Card        16737 non-null  object
 10  CLV                 16737 non-null  float64
 11  Enrollment Type     16737 non-null  object
 12  Enrollment Year     16737 non-null  int64
 13  Enrollment Month    16737 non-null  int64
 14  Cancellation Year   2067 non-null   float64
 15  Cancellation Month  2067 non-null   float64
dtypes: float64(4), int64(3), object(9)
memory usage: 2.0+ MB
None
___________________ FORMA DEL DATAFRAME ____________________

El número de filas que tenemos es de 16737.
El número de columnas es de 16

_______________ NULOS, ÚNICOS Y DUPLICADOS _________________

La cantidad de valores NULOS por columna es de:

Loyalty Number            0
Country                   0
Province                  0
City                      0
Postal Code               0
Gender                    0
Education                 0
Salary                 4238
Marital Status            0
Loyalty Card              0
CLV                       0
Enrollment Type           0
Enrollment Year           0
Enrollment Month          0
Cancellation Year     14670
Cancellation Month    14670
dtype: int64
____________________________________________________________

El porcentaje de valores NULOS por columna es de:

Loyalty Number         0.00
Country                0.00
Province               0.00
City                   0.00
Postal Code            0.00
Gender                 0.00
Education              0.00
Salary                25.32
Marital Status         0.00
Loyalty Card           0.00
CLV                    0.00
Enrollment Type        0.00
Enrollment Year        0.00
Enrollment Month       0.00
Cancellation Year     87.65
Cancellation Month    87.65
dtype: float64
____________________________________________________________

La cantidad de valores ÚNICOS por columna es de:

La columna Loyalty Number tiene 16737 valores únicos.
La columna Country tiene 1 valores únicos.
La columna Province tiene 11 valores únicos.
La columna City tiene 29 valores únicos.
La columna Postal Code tiene 55 valores únicos.
La columna Gender tiene 2 valores únicos.
La columna Education tiene 5 valores únicos.
La columna Salary tiene 5890 valores únicos.
La columna Marital Status tiene 3 valores únicos.
La columna Loyalty Card tiene 3 valores únicos.
La columna CLV tiene 7984 valores únicos.
La columna Enrollment Type tiene 2 valores únicos.
La columna Enrollment Year tiene 7 valores únicos.
La columna Enrollment Month tiene 12 valores únicos.
La columna Cancellation Year tiene 6 valores únicos.
La columna Cancellation Month tiene 12 valores únicos.
____________________________________________________________

La cantidad de valores DUPLICADOS por columna es de:

La columna Loyalty Number tiene 0 valores duplicados.
La columna Country tiene 16736 valores duplicados.
La columna Province tiene 16726 valores duplicados.
La columna City tiene 16708 valores duplicados.
La columna Postal Code tiene 16682 valores duplicados.
La columna Gender tiene 16735 valores duplicados.
La columna Education tiene 16732 valores duplicados.
La columna Salary tiene 10846 valores duplicados.
La columna Marital Status tiene 16734 valores duplicados.
La columna Loyalty Card tiene 16734 valores duplicados.
La columna CLV tiene 8753 valores duplicados.
La columna Enrollment Type tiene 16735 valores duplicados.
La columna Enrollment Year tiene 16730 valores duplicados.
La columna Enrollment Month tiene 16725 valores duplicados.
La columna Cancellation Year tiene 16730 valores duplicados.
La columna Cancellation Month tiene 16724 valores duplicados.
____________________________________________________________

____________________ RESUMEN ESTADÍSTICO ____________________

___________________ Variables Numéricas _____________________

                      count           mean            std        min  \
Loyalty Number      16737.0  549735.880445  258912.132453  100018.00
Salary              12499.0   79245.609409   35008.297285  -58486.00
CLV                 16737.0    7988.896536    6860.982280    1898.01
Enrollment Year     16737.0    2015.253211       1.979111    2012.00
Enrollment Month    16737.0       6.669116       3.398958       1.00
Cancellation Year    2067.0    2016.503145       1.380743    2013.00
Cancellation Month   2067.0       6.962748       3.455297       1.00

                          25%        50%        75%        max
Loyalty Number      326603.00  550434.00  772019.00  999986.00
Salary               59246.50   73455.00   88517.50  407228.00
CLV                   3980.84    5780.18    8940.58   83325.38
Enrollment Year       2014.00    2015.00    2017.00    2018.00
Enrollment Month         4.00       7.00      10.00      12.00
Cancellation Year     2016.00    2017.00    2018.00    2018.00
Cancellation Month       4.00       7.00      10.00      12.00
____________________________________________________________

___________________ Variables Categóricas _____________________

__________________ Variables Categóricas ____________________

                 count unique       top   freq
Country          16737      1    Canada  16737
Province         16737     11   Ontario   5404
City             16737     29   Toronto   3351
Postal Code      16737     55   V6E 3D9    911
Gender           16737      2    Female   8410
Education        16737      5  Bachelor  10475
Marital Status   16737      3   Married   9735
Loyalty Card     16737      3      Star   7637
Enrollment Type  16737      2  Standard  15766

In [62]:
# Vemos que aspecto tienen las 5 primeras columnas del dataframe df_CLH 
df_CLH.head()

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,NaN,Single,Star,3839.75,Standard,2014,7,2018.0,1.0
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,NaN,Single,Star,3839.75,Standard,2013,2,NaN,NaN
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN

In [63]:
# Llamamos a la función para explorar el dataframe df_CFA
exploracion_datos(df_CFA)

_____________ INFORMACIÓN GENERAL DEL DATAFRAME ____________

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB
None
___________________ FORMA DEL DATAFRAME ____________________

El número de filas que tenemos es de 405624.
El número de columnas es de 10

_______________ NULOS, ÚNICOS Y DUPLICADOS _________________

La cantidad de valores NULOS por columna es de:

Loyalty Number                 0
Year                           0
Month                          0
Flights Booked                 0
Flights with Companions        0
Total Flights                  0
Distance                       0
Points Accumulated             0
Points Redeemed                0
Dollar Cost Points Redeemed    0
dtype: int64
____________________________________________________________

El porcentaje de valores NULOS por columna es de:

Loyalty Number                 0.0
Year                           0.0
Month                          0.0
Flights Booked                 0.0
Flights with Companions        0.0
Total Flights                  0.0
Distance                       0.0
Points Accumulated             0.0
Points Redeemed                0.0
Dollar Cost Points Redeemed    0.0
dtype: float64
____________________________________________________________

La cantidad de valores ÚNICOS por columna es de:

La columna Loyalty Number tiene 16737 valores únicos.
La columna Year tiene 2 valores únicos.
La columna Month tiene 12 valores únicos.
La columna Flights Booked tiene 22 valores únicos.
La columna Flights with Companions tiene 12 valores únicos.
La columna Total Flights tiene 33 valores únicos.
La columna Distance tiene 4746 valores únicos.
La columna Points Accumulated tiene 1549 valores únicos.
La columna Points Redeemed tiene 587 valores únicos.
La columna Dollar Cost Points Redeemed tiene 49 valores únicos.
____________________________________________________________

La cantidad de valores DUPLICADOS por columna es de:

La columna Loyalty Number tiene 388887 valores duplicados.
La columna Year tiene 405622 valores duplicados.
La columna Month tiene 405612 valores duplicados.
La columna Flights Booked tiene 405602 valores duplicados.
La columna Flights with Companions tiene 405612 valores duplicados.
La columna Total Flights tiene 405591 valores duplicados.
La columna Distance tiene 400878 valores duplicados.
La columna Points Accumulated tiene 404075 valores duplicados.
La columna Points Redeemed tiene 405037 valores duplicados.
La columna Dollar Cost Points Redeemed tiene 405575 valores duplicados.
____________________________________________________________

____________________ RESUMEN ESTADÍSTICO ____________________

___________________ Variables Numéricas _____________________

                                count           mean            std       min  \
Loyalty Number               405624.0  550037.873084  258935.286969  100018.0
Year                         405624.0    2017.500000       0.500001    2017.0
Month                        405624.0       6.500000       3.452057       1.0
Flights Booked               405624.0       4.115052       5.225518       0.0
Flights with Companions      405624.0       1.031805       2.076869       0.0
Total Flights                405624.0       5.146858       6.521227       0.0
Distance                     405624.0    1208.880059    1433.155320       0.0
Points Accumulated           405624.0     123.692721     146.599831       0.0
Points Redeemed              405624.0      30.696872     125.486049       0.0
Dollar Cost Points Redeemed  405624.0       2.484503      10.150038       0.0

                                   25%       50%        75%       max
Loyalty Number               326961.00  550834.0  772194.00  999986.0
Year                           2017.00    2017.5    2018.00    2018.0
Month                             3.75       6.5       9.25      12.0
Flights Booked                    0.00       1.0       8.00      21.0
Flights with Companions           0.00       0.0       1.00      11.0
Total Flights                     0.00       1.0      10.00      32.0
Distance                          0.00     488.0    2336.00    6293.0
Points Accumulated                0.00      50.0     239.00     676.5
Points Redeemed                   0.00       0.0       0.00     876.0
Dollar Cost Points Redeemed       0.00       0.0       0.00      71.0
____________________________________________________________

___________________ Variables Categóricas _____________________

No hay variables categóricas para mostrar el resumen estadístico.

In [64]:
df_CFA.head()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

In [68]:
print(df_CFA[Loyalty Number])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1265992228.py, line 1)